html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato',sans-serif,Arial,sans-serif;
}

input {
    height: 40px;
    width: 400px;
    border:1.5px solid lightgray;
    background-image: url("icon-search.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

li{
    color: rgb(167, 167, 167);
    padding-left: 15px;
}

a {
    color: rgb(167, 167, 167);
    text-decoration: none;
}

a:hover {
    color: orangered;
}

.flexWrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flexRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flexRow2{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.headerSize {
    height: 100px;
}

.width100 {
    width: 100%;
}

.menuItemStyle{
    height: 60px;
    width: 100%;
    background-color:rgb(14, 14, 14);
}

.iconColor {
    color: rgb(167, 167, 167);
}

.cursor {
    cursor: pointer;
}

.dropdownFlexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 999;
    border: 1px solid transparent;
    border-radius: 2px;
    opacity: 0;
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdownContent .firstLine, .secondLine, .thirdLine {
    height: 2px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    margin: 4px 0px;
    transition: 0.5s;
}

.dropdownContent:hover .firstLine {
    transform: translate(0px,4.5px) rotate(-45deg);
}

.dropdownContent:hover .secondLine {
    opacity: 0;
}

 .dropdownContent:hover .thirdLine {
    transform: translate(0px,-7px) rotate(45deg);
}

.dropdownContent .dropdownFlexColumn {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.dropdownContent:hover .dropdownFlexColumn {
    visibility: visible;
    opacity: 0.5;
    transition: 0.5s;
}

.dropdownBtn {
    background-color: rgb(14, 14, 14);
    border-style: none;
}

.dropdownItem {
    height: 200px;
    width: 100px;
    background-color:rgb(14, 14, 14);
    padding-top: 20px;
    margin-top: 20px;
}

.menuPadding{
    padding-left: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 50px;
    color: whitesmoke;
}

.objectFitWallpaper {
    position: absolute;
    object-fit:cover;
    height: 300px;
    width: 100%;
}

.relativePosition {
    position: relative;
}

.btn {
    height: 40px;
    width: 150px;
    border: 0;
    background-color: orangered;
    font-size: 15px;
    color: lightgray;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 0px 10px 0px darkorange;
    background-color: lightgrey;
    color: orangered;
}

.textAlign {
    text-align: center;
}

.paddingBottom {
    padding-bottom: 20px;
}

.paddingTop {
    padding-top: 25px;
}

.infoRow1{
    font-size: 20px;
    padding-bottom: 10px;
}

.infoRow2{
    font-size: 15px;
    color: rgb(167, 167, 167);
}

.shadowImage {
    background-image: url("https://bikesport.jollyany.co/templates/tz_bike_sport/images/shadow.png");
    background-position: center;
    background-size: 40%;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    height: 50px;
    left: 0;
    padding-bottom: 35px;
}

.featuredProductsSize {
    padding-top: 75px;
    padding-left: 100px;
    font-size: 25px;
}

.productOptionsPadding{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
}

.objectFit {
    object-fit:contain;
    height: 300px;
    width: 300px;
}

.priceColor{
    padding-top: 10px;
    color: orangered;
}

@import url('https://css.gg/heart.css');

.gg-heart,
.gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0px
}

.gg-heart {
    box-sizing: border-box;
    position: relative;
    transform:
        translate(
            calc(-20px / 2 * var(--ggs,1)),
            calc(-6px / 2 * var(--ggs,1))
        )
        rotate(-45deg)
        scale(var(--ggs,1));
    display: block
}

.gg-heart::after,
.gg-heart::before {
    content: "";
    display: flex;
    box-sizing: border-box;
    position: absolute
}

.gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
}

.gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}

.gg-heart:hover {
    color: orangered
}

@import url('https://css.gg/shopping-bag.css');

.gg-shopping-bag {
    transform: scale(var(--ggs,1))
}

.gg-shopping-bag,
.gg-shopping-bag::after {
    box-sizing: border-box;
    display: flex;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 3px
}

.gg-shopping-bag::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top: 0;
    top: 2px;
    left: 3px
}

.gg-shopping-bag:hover {
    color: orangered;
}